<% layout('layouts/boilerplate') %>

    <body>
        <br>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Create a New Listing</h3>

                <br>
                <form action="/listings" method="POST" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label class="form-label mb-3" for="title">Listing Title:</label>
                        <input type="text" placeholder="Add a cathy title" id="title" name="listing[title]"
                            class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label mb-3" for="description">Description:</label>
                        <textarea placeholder="Description" id="description" name="listing[description]"
                            class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Please provide a description for your listing.
                        </div>

                        <div class="row">
                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="price">Price:</label>
                                <input type="number" placeholder="$1200" id="price" name="listing[price]"
                                    class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide a price for your listing.
                                </div>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label class="form-label" for="location">Location:</label>
                                <input type="text" placeholder="New York, USA" id="location" name="listing[location]"
                                    class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide a location for your listing.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="country">Country:</label>
                                <input type="text" placeholder="Country" id="country" name="listing[country]"
                                    class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide a country for your listing.
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="image">Image URL:</label>
                                <input type="hidden" name="listing[image][filename]" value="listingimage">
                                <input type="text" placeholder="Enter image URL" id="image" name="listing[image][url]"
                                    class="form-control" required>
                                <div class="invalid-feedback">Please provide an image URL.</div>
                            </div>
                        </div>

                        <br>
                        <button class="btn  mb-3  add-btn" type="submit">Add</button>
                </form>
            </div>
        </div>
        </div>
    </body>

    </html>