<% layout("layouts/boilerplate") %>

<div class="row mt-5">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="alert alert-danger p-4 border-0 shadow-sm d-flex align-items-center" role="alert" style="border-radius: 1rem;">
            
            <div class="me-3 fs-3 d-flex align-items-center text-danger">
                <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            
            <div>
                <h4 class="alert-heading fw-bold mb-1">An Error Occurred!</h4>
                <p class="mb-0 text-secondary"><%= message %></p>
            </div>
            
        </div>
    </div>
</div>